<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-brand">
            <span class="logo">Adriel<span>.</span></span>
            <p>Analista de Sistemas & Especialista Java</p>
        </div>

        <div class="footer-social">
            <a href="https://github.com/Adrielbarr0s" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/adrielbarros" target="_blank">LinkedIn</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Adriel Barros. Todos os direitos reservados.</p>
    </div>
</footer>